.logo{
  height: 50px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000; 
}


.navbar {
  width: 80%; 
  background-color: var(--bs-body-bg); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.navbar-brand img {
  max-height: 50px; 
}


.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin: 0 15px; 
}
